@model IEnumerable<StiVisita.Models.Patient>

@{
    ViewData["Title"] = "Lista de Doentes";
}

<h1> @ViewData["Title"]</h1>

<div class="container my-5">
    <div class="d-grid gap-2 d-md-block">
        <a asp-action="Create" class="btn btn-primary">Novo Doente</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
            <th></th>
            <th></th>
    </thead>
    <tbody>
    @foreach (var patient in Model) {
            <tr class="align-middle">
                <td>
                    <p class="badge bg-dark text-wrap">
                        @Html.DisplayFor(patientItem => patient.PatientCode)
                   </p>
                </td>
                <td>
                    <p class="my-0">
                        @Html.DisplayFor(patientItem => patient.Name)
                    </p>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@patient.Id" class="btn btn-success">Detalhes</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@patient.Id" class="btn btn-warning">Editar</a> 
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@patient.Id" class="btn btn-danger">Deletar</a>
                </td>
            </tr>
    }
    </tbody>
</table>
